<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,151},{143,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,136}}</string>
                <key>sourceSize</key>
                <string>{143,136}</string>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,327},{149,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,136}}</string>
                <key>sourceSize</key>
                <string>{149,138}</string>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,4},{150,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>club_hongbao_list_bg.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,412},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>club_hongbao_list_bg2_lv2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,129},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>club_hongbao_list_bg2_lv3.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,4},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>club_hongbao_list_bg3_lv2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,418},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>club_hongbao_list_bg3_lv3.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,336},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>club_hongbao_list_bg_lv2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,112},{102,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,723}}</string>
                <key>sourceSize</key>
                <string>{102,723}</string>
            </dict>
            <key>club_hongbao_list_bg_lv3.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{102,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,723}}</string>
                <key>sourceSize</key>
                <string>{102,723}</string>
            </dict>
            <key>club_hongbao_list_oops.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,327},{200,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,89}}</string>
                <key>sourceSize</key>
                <string>{200,89}</string>
            </dict>
            <key>club_hongbao_list_title1.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,229},{616,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,3}}</string>
                <key>sourceSize</key>
                <string>{616,3}</string>
            </dict>
            <key>club_hongbao_list_title2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,238},{612,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,3}}</string>
                <key>sourceSize</key>
                <string>{612,3}</string>
            </dict>
            <key>club_hongbao_list_title3.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,220},{616,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,3}}</string>
                <key>sourceSize</key>
                <string>{616,3}</string>
            </dict>
            <key>club_hongbao_luckiest.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,422},{186,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,47}}</string>
                <key>sourceSize</key>
                <string>{186,47}</string>
            </dict>
            <key>club_hongbao_share_bg.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,293},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>club_hongbao_share_bg1.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,327},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>club_hongbao_share_bg2.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,254},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>club_hongbao_share_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,247},{396,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,74}}</string>
                <key>sourceSize</key>
                <string>{396,74}</string>
            </dict>
            <key>club_hongbao_share_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,220},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>club_hongbao_share_pic_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,247},{283,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,231}}</string>
                <key>sourceSize</key>
                <string>{283,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1012,497}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
